* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#main {
  width: 95%;
  margin: 1.5em auto;
  background-color: rgb(231, 231, 231);
  border-radius: 4px;
}

/* GLOBAL */
.bold-text {
  font-weight: 600;
}

/* HEADER */
header {
  margin: auto;
  width: 100%;
  padding-top: 1.6em;
  padding-bottom: 2em;
  text-align: center;
}

header #title {
  width: 95%;
  margin: auto;
  margin-bottom: 0.8em;
}

header p {
  font-size: 1.1em;
  width: 80%;
  margin: auto;
}

/* IMAGE CONTENT */
figure#img-div {
  width: 95%;
  margin: auto;
  margin-bottom: 40px;
  background-color: white;
}

figure img {
  display: block;
  margin: auto;
  max-width: 99%;
}

figure #img-caption {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 1em 0 1.05em 0;
  font-size: 1.05em;
}

/* MAIN */
#tribute-info {
  margin: auto;
  margin-top: 0.8em;
  width: 80%;
}

main h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-left: 1.2em;
}

main ul li {
  width: 90%;
  margin-left: 1.4em;
  margin-bottom: 0.8em;
}

.date {
  font-weight: bold;
}

/* QUOTE CONTAINER */
#quote-container {
  width: 75%;
  margin: auto;
  margin-top: 1.7em;
  margin-bottom: 1.9em;
  text-align: center;
}

blockquote {
  margin-bottom: 1.1em;
}

cite {
  display: block;
  margin: auto;
  width: 60%;
}

/* FOOTER */
footer {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  padding-bottom: 1.7em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: green;
}


/* IPAD QUERY */
@media (min-width: 768px) {
  :root {
    font-size: 110%;
  }

  #main {
    width: 97%;
    margin: 1.3em auto;
  }

  /* HEADER */
  header {
    margin: auto;
    padding-top: 2.2em;
    padding-bottom: 2.1em;
  }

  /* IMAGE SECTION */
  figure#img-div {
    width: 97%;
  }

  #tribute-info {
    margin-top: 0.95em;
  }

  /* MAIN INFORMATION */
  main h2 {
    margin-bottom: 1em;
    margin-left: 2em;
  }

  main ul li {
    margin-left: 2em;
    margin-bottom: 0.9em;
  }

  /* QUOTE SECTION */
  #quote-container {
    width: 89%;
    margin-top: 1.5em;
    margin-bottom: 1.7em;
  }

  blockquote {
    margin-bottom: 1em;
  }

  /* FOOTER */
  footer {
    width: 95%;
  }
}


/* STANDARD LAPTOP; NOT LARGE LAPTOP */
@media (min-width: 1024px) {
  :root {
    font-size: 120%;
  }

  #main {
    width: 98.5%;
  }

  /* HEADER */
  header {
    margin: auto;
    padding-top: 2.2em;
    padding-bottom: 1.6em;
  }

  /* IMAGE SECTION */
  figure #img-caption {
    width: 94%;
  }

  /* CONTENT SECTION */
  #tribute-info {
    margin-top: 1.1em;
  }

  main h2 {
    margin-bottom: 1em;
    margin-left: 5em;
  }

  main ul li {
    width: 80%;
    margin-left: 6em;
    margin-bottom: 0.9em;
  }

  /* QUOTE SECTION */
  #quote-container {
    width: 85%;
    margin-top: 2em;
    margin-bottom: 1.7em;
  }

  blockquote {
    margin-bottom: .9em;
  }

  /* FOOTER */
  footer {
    width: 95%;
    font-size: .9em;
  }
}
