/* Mobile first */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

:root {
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
}

/* -------------------- NAVIGATION -------------------- */
#navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

#navbar h1 {
  align-self: center;
  text-align: center;
  margin: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
}

#navigation {
  margin: 0 auto;
  width: 100%;
  list-style: none;
  border-top: black 2px solid;
  border-bottom: rgb(14, 13, 13) 2px solid;
}

#navigation li {
  padding-top: .8rem;
  padding-bottom: .8rem;
  padding-left: 2.5rem;
  border-bottom: .7px solid rgb(185, 184, 184);
  border-left: .7px solid rgb(202, 201, 201);
  border-right: .7px solid rgb(202, 201, 201);
}

#navigation li:last-child {
  border-bottom: none;
}

#navigation li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
}

/* -------------------- MAIN CONTENT -------------------- */
.main-section {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
}
.main-section header {
  width: 85%;
  margin: auto;
  margin-bottom: .85rem;
}

.main-section header h2 {
  text-align: left;
  font-size: 1.7rem;
  font-weight: 300;
}

.main-section div {
  width: 80%;
  margin: auto;
}

.main-section div * {
  margin-bottom: 1.2rem;
  margin-left: .2rem;
}

.main-section div ul {
  padding-left: 1.9rem;
}

pre {
  display: block;
  width: 90%;
  padding-top: 1.2rem;
  padding-right: 0;
  line-height: 1.8;
  background-color: rgb(237, 233, 233);
  border: .1px solid transparent;
  border-radius: 6px;
}

code {
  display: block;
  background-color: rgb(237, 233, 233);
  padding: .5rem;
  padding-right: 0;
}

/* IPad and tablet */
@media screen and (min-width: 400px) and (max-width: 768px) {
  :root {
    font-size: 110%;
  }
  .main-section {
    margin-bottom: 1.2rem;
  }
  .main-section header {
    width: 93%;
  }
  .main-section header h2 {
    font-size: 1.9rem;
  }
  .main-section div {
    width: 90%;
  }
  .main-section div ul {
    padding-left: 1.7rem;
  }
}

/* Laptops and above */
@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: row;
    background-color: rgb(250, 250, 250);
  }
  nav {
    position: fixed;
    height: 100vh;
    width: 33%;
    flex-shrink: 0;
    flex-grow: 0;
    border-right: 1px rgb(16, 15, 15) solid;
  }
  #navigation {
    border-bottom: none;
  }
  main {
    width: 67%;
    margin-left: 33%;
    margin-top: 3%;
  }
  .main-section {
    margin-bottom: 2rem;
  }
}

/* Large screens */
@media screen and (min-width: 1400px) {
  nav {
    width: 25%;
  }
  main {
    width: 75%;
    margin-left: 25%;
    margin-top: 1.2rem;
  }
}
