@import url('https://fonts.googleapis.com/css?family=Raleway');

#sr-only {
  position: absolute;
  left: -10000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e8e9ea;
  --complementary-gray: #dbdbdf;
  --button-color: rgb(236, 217, 47);
  font-family: 'Raleway', sans-serif;
  color: black;
}

/* -------------------- GLOBAL STYLES -------------------- */
.bold {
  font-weight: 800;
}

button, input[type="submit"] {
  cursor: pointer;
}

#content {
  margin: 0 auto;
  width: 80%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -------------------- HEADER -------------------- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  margin: 0 5% 0 2%;
  padding: 1% 0;
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
}

header #header-img {
  display: block;
  height: 2rem;
  width: auto;
}

#nav-bar {
  flex-basis: 40%;
}

#nav-bar ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* -------------------- SIGN-UP BOX -------------------- */
#sign-up {
  margin: 5% auto;
  width: 50%;
  text-align: center;
}

#sign-up h2 {
  margin-bottom: 2%;
  font-size: 1.7rem;
}

#form {
  width: 100%;
}

#form input {
  display: block;
  margin: 3% auto;
}

#form input[type="email"] {
  background-color: white;
  width: 35%;
  padding: .4rem;
}

#form input[type="submit"] {
  background-color: var(--button-color);
  width: auto;
  padding: .3rem 1.2rem;
  font-size: 1rem;
  text-transform: uppercase;
}

/* --------------------  FEATURES -------------------- */
#features {
  margin: 0 auto 6%;
  width: 55%;
}

.feature {
  margin-bottom: 6%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.information {
  flex-basis: 80%;
  align-self: top;
  text-align: left;
}

.information h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

.information p {
  font-weight: 500;
}

i {
  display: block;
  align-self: center;
  color: orange;
  transform: scale(2);
}

/* -------------------- YOUTUBE VIDEO -------------------- */
#video {
  display: block;
  margin: 0 auto 7%;
}

/* -------------------- CARDS -------------------- */
#cards {
  width: 75%;
  margin: 0 auto 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  flex-basis: 30%;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
}

.card h3, .card p {
  margin: 0 auto;
}

.card h3 {
  padding: 5% 0;
  margin-bottom: 5%;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: var(--complementary-gray);
}

.card .price {
  margin-bottom: 6%;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.card p {
  margin-bottom: 3%;
}

.card .paragraphs {
  margin-bottom: 10%;
}

.card button {
  background-color: var(--button-color);
  font-size: 1.3rem;
  padding: .3rem 1.2rem;
  margin-bottom: 5%;
  border: 1px solid transparent;
  border-radius: 2px;
}

/* -------------------- FOOTER -------------------- */
footer {
  width: 60%;
  margin: auto;
  padding: 1rem 2rem 1rem 0;
  background-color: var(--complementary-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

footer ul, footer li, footer li a, footer p {
  background-color: inherit;
}

footer ul {
  width: 20%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* LAPTOP QUERY */
@media screen and (min-width: 1020px) and (max-width: 1440px) {
  /* ---------- HEADER ---------- */
  header {
    padding-left: 1.5%;
    padding-right: 3%;
  }
  header #header-img {
    height: 2.2rem;
  }
  #nav-bar ul {
    font-size: 1.1rem;
  }
  /* ---------- SIGN-UP BOX ---------- */
  #sign-up {
    margin: 7% auto 6%;
  }
  #form input[type="email"] {
    width: 40%;
    padding: .5rem;
  }
  /* ---------- FEATURES ---------- */
  #features {
    margin: 0 auto 7%;
    width: 75%;
  }
  .information {
    flex-basis: 85%;
  }
  .information h2 {
    font-size: 1.4rem;
  }
  .information p {
    font-size: 1rem;
  }
  i {
    transform: scale(2.4);
  }
  /* ---------- YOUTUBE VIDEO ---------- */
  #video {
    width: 50%;
  }
  /* ---------- CARDS ---------- */
  #cards {
    width: 85%;
    margin: 0 auto 5%;
  }
  .card h3 {
    margin-bottom: 6%;
  }
  .card .price {
    margin-bottom: 7%;
  }
  .card p {
    margin-bottom: 5%;
  }
  .card .paragraphs {
    margin-bottom: 11%;
  }
  .card button {
    font-size: 1.4rem;
    padding: .4rem 1.4rem;
    margin-bottom: 6%;
  }
  /* ---------- FOOTER ---------- */
  footer {
    width: 67%;
  }
  footer ul {
    width: 30%;
    padding-bottom: .7rem;
  }
}


/* -------------------- TABLET QUERY -------------------- */
@media screen and (min-width: 650px) and (max-width: 1019px) {
  /* ---------- HEADER ---------- */
  header {
    padding: 2% 5% 0 1%;
  }
  /* ---------- SIGN-UP BOX ---------- */
  #sign-up {
    margin: 9% auto 6%;
    width: 60%;
    text-align: center;
  }
  #sign-up h2 {
    margin-bottom: 4%;
  }
  #form input[type="email"] {
    width: 60%;
    padding-right: 1rem;
    margin-bottom: 4%;
  }
  /* ---------- FEATURES ---------- */
  #features {
    margin: 0 auto 9%;
    width: 100%;
  }
  .information {
    text-align: left;
    flex-basis: 85%;
  }
  /* ---------- YOUTUBE VIDEO ---------- */
  #video {
    width: 75%;
  }
  /* ---------- CARDS ---------- */
  #cards {
    width: 100%;
    margin: 9% auto 5%;
    justify-content: space-between;
  }
  .card {
    flex-basis: 32%;
  }
  /* ---------- FOOTER ---------- */
  footer {
    width: 82%;
  }
  footer ul {
    width: 30%;
    padding-bottom: .7rem;
  }
}

/* -------------------- MOBILE QUERY -------------------- */
@media screen and (max-width: 649px) {
  /* ---------- HEADER ---------- */
  header {
    margin: 0 5% 0 2%;
    padding: 1% 0;
    height: 14vh;
    flex-direction: column;
    align-items: center;
  }
  header #header-img {
    width: 70%;
  }
  #nav-bar {
    flex-basis: 60%;
  }
  #nav-bar ul {
    flex-direction: column;
  }
  /* ---------- SIGN-UP BOX ---------- */
  #sign-up {
    margin: 16.5vh auto 10%;
    width: 90%;
  }
  #sign-up h2 {
    margin-bottom: 7%;
    font-size: 1.7rem;
  }
  #form input {
    margin: 7% auto;
  }
  #form input[type="email"] {
    width: 70%;
    font-size: .9rem;
  }
  #form input[type="submit"] {
    font-size: 1.2rem;
  }
  /* ---------- FEATURES ---------- */
  #features {
    margin: 0 auto 15%;
    width: 100%;
  }
  .feature {
    margin-bottom: 10%;
    justify-content: center;
  }
  .information {
    text-align: center;
    flex-basis: 100%;
  }
  i {
    flex-basis: 0%;
    color: transparent;
    transform: scale(0);
  }
  /* ---------- YOUTUBE VIDEO ---------- */
  #video {
    width: 100%;
  }
  /* ---------- CARDS ---------- */
  #cards {
    width: 90%;
    margin: 0 auto 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .card {
    margin-bottom: 5%;
  }
  /* ---------- FOOTER ---------- */
  footer {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer ul {
    width: 79%;
    padding-bottom: 1rem;
    justify-content: space-between;
  }
}
