@import url('https://fonts.googleapis.com/css?family=Raleway');

#sr-only {
  position: absolute;
  left: -10000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e8e9ea;
  --complementary-gray: #d0d4d8;
  font-family: 'Raleway', sans-serif;
  color: black;
}

/* -------------------- GLOBAL STYLES -------------------- */
.bold {
  font-weight: 800;
}

#content {
  margin: 0 auto;
  width: 80%;
}

/* -------------------- HEADER -------------------- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0 1% 0 2%;
  padding: 1% 0;
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
}

header #header-img {
  display: block;
  height: 2rem;
  width: auto;
}

#nav-bar {
  width: 40%;
}

#nav-bar ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}


/* -------------------- SIGN-UP BOX -------------------- */
#sign-up {
  margin: 5% auto 7%;
  width: 50%;
  text-align: center;
}

#sign-up h2 {
  margin-bottom: 2%;
}

#form {
  width: 100%;
}

#form input {
  display: block;
  margin: 3% auto;
}

#form input[type="email"] {
  background-color: white;
  width: 35%;
  padding: .4rem .4rem;
}

#form input[type="submit"] {
  background-color: rgb(236, 217, 47);
  width: auto;
  padding: .3rem 1.2rem;
  font-size: 1rem;
  text-transform: uppercase;
}

/* --------------------  CARDS -------------------- */
